@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box; /* Set box-sizing to border-box */
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}
